body	{
	background-image: url("http://www.kinyu-z.net/data/wallpapers/17/762033.jpg");
	background-color: white;
	text-align: center;
	color: white;
}

.wrapper {
	background-color: rgba(200,200,200,0.8);
	color: black;
	width: 60%;
	margin: 0 auto;
}